doctype html
html(lang="ua")
	head
		link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/img/favicon.ico" type="image/x-icon")

		meta(property="og:site_name" content="Kinder-Biovital")
		meta(property="og:type" content="article")
		meta(id="og-title" property="og:title" content="")
		meta(id="og-desc" property="og:description" content="")
		meta(id="og-url" property="og:url" content="")
		meta(id="og-image" property="og:image" content="")

		title Kinder-Biovital
		style.
			#preloader {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1010;
				background: #ffffff;
			}
			#preloader img {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 250px;
				height: 250px;
				margin: -125px 0 0 -125px;
			}
	body
		div#modules
		div#preloader
			img(src="/img/loader.gif")
		div#fb-root
		script(config="/js/app/user/stealconfig.js" src='/js/lib/steal/steal.js')
		script.
			window.data = {
				locale: !{JSON.stringify(locale)},
				lang: "!{lang}"
			}
