doctype html
html(lang="ua")
	head
		title Kinder-Biovital
		style.
			#preloader {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 100;
				background: #4A4A4A;
			}
	body
		div#modules
		div#preloader
		script(data-main="/js/app/user/core/core.js" src='/js/lib/requirejs/require.js')
		script.
			window.data = {
				locale: !{JSON.stringify(locale)},
				lang: "!{lang}"
			}
