doctype html
html(lang="ua")
	head
		link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/img/favicon.ico" type="image/x-icon")

		meta(property="og:site_name" content="Kinder-Biovital")
		meta(property="og:type" content="article")
		meta(id="og-title" property="og:title" content="")
		meta(id="og-desc" property="og:description" content="")
		meta(id="og-url" property="og:url" content="")
		meta(id="og-image" property="og:image" content="")

		title Kinder-Biovital
		style.
			#preloader {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1010;
				background: #f5ebd9;
			}
			#preloader img {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 216px;
				height: 216px;
				margin: -108px 0 0 -108px;
			}
	body
		div#modules
		div#preloader
			img(src="/img/loader.gif")
		div#fb-root
		script(data-main="/js/dist/user/core/core.js?v=0.0.1.7" async src='/js/lib/require.min/index.js')
		script.

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-55227272-1']);
			_gaq.push(['_setSiteSpeedSampleRate', 20]);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ?  'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			window.data = {
				locale: !{JSON.stringify(locale)},
				lang: "!{lang}"
			}
