@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

.mainPage {
    font-family: Arial;

    .menu {
        @include position(absolute, 114px null null 269px);
        width: 700px;
        z-index: 1;

        a {
            display: inline-block;
            border-radius: 5px;
            box-shadow: $outerShadow;
            text-align: center;
            width: 167px;
            padding: 4px 9px 7px 7px;
            margin-right: 2px;
            background: #a55828;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            text-shadow: -1px -1px 0 #bb732b;
            text-transform: lowercase;
        }

        span {
            background: $orange;
            display: block;
            height: 26px;
            padding: 5px;
            border-radius: 5px;
            box-shadow: $btnShadow;
        }
    }

    .watchTale {
        @include size(172px 172px);
        @include position(absolute, 233px null null 526px);
        z-index: 1;
        background: $white;
        border-radius: 10px;
        box-shadow: $outerShadow;
        cursor: pointer;
        padding: 12px;

        .taleBtn {
            width: 149px;
            padding: 115px 9px 9px;
            font-size: 12px;
            text-decoration: none;

            &:after {
                content: '';
                background: url('#{$imgPath}watchTale.png');
                @include size(83px 82px);
                @include position(absolute, 22px null null 32px);
                z-index: 2;
            }
        }
    }

    .howToWrite {
        @include position(absolute, 281px null null 268px);
        width: 195px;
        box-shadow: $outerShadow;
        z-index: 1;

        .taleBtn {
            padding: 6px 14px;
            color: $orange;
            text-decoration: none;
            text-shadow: -1px -1px 0 #bb3d0a;
        }
    }

    .createTale {
        @include position(absolute, 281px null null 761px);
        width: 194px;
        box-shadow: $outerShadow;
        z-index: 1;

        .taleBtn {
            padding: 6px 15px;
            color: $red;
            text-decoration: none;
            text-shadow: -1px -1px 0 #bb3d0a;
        }
    }

    .text {
        @include position(absolute, null null 9px 126px);
        @include size(971px 155px);
        padding: 29px 19px 28px 141px;

        &:after {
            content: '';
            z-index: -1;
            @include position(absolute, -11px null null -17px);
            @include size(1006px 191px);
            background: url('#{$imgPath}mainTextBg.png');
        }

        &:before {
            content: '';
            @include position(absolute, 12px null null 40px);
            @include size(81px 133px);
            background: url('#{$imgPath}vedmeBanka.png');
        }

        .column {
            float: left;
            width: 380px;
            margin: 0 15px 0 0;
            font-size: 16px;
            line-height: 130%;

            &:last-of-type {
                margin: 0;
                width: 410px;
            }

            .block-title {
                text-transform: uppercase;
                font-weight: normal;
                font-family: Futura;
                font-size: 18px;

                &.color-red {
                    color: $red;
                }

                &.color-orange {
                    color: $orange;
                }
            }
        }

    }
}
