@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';
@import '../../base/_sprites.scss';


.pageWrap {
    @include position(absolute, 125px null null 289px);
    @include size(650px 400px);
    padding: 30px;
    font-family: Arial;
    font-size: 15px;
    line-height: 130%;

    &:after {
        content: '';
        z-index: -1;
        @include position(absolute, -32px null null -40px);
        @include sprite($pageBg);
    }

    video {
        height: 375px;
        margin: -15px auto;
        display: block;
    }

    .backToText {
        @include position(absolute, 14px null null 0);
        padding: 1px 10px;
        border-radius: 3px;
        text-transform: lowercase;
        font-size: 14px;
    }

    list-slider {
        display: block;
        position: relative;
        height: 340px;

        .arrow {
            @include position(absolute, 144px null null null);
            z-index: 10;
            cursor: pointer;

            &.prev {
                left: -32px;
                @include sprite($kibiPrev);
            }

            &.next {
                right: -23px;
                @include sprite($kibiNext);
            }
        }

        .dotsWrap {
            @include position(absolute, null null -28px 0);
            @include size(100% 15px);
            text-align: center;

            .dot {
                display: inline-block;
                margin: 0 4px 0 0;
                cursor: pointer;
                @include sprite($dot);

                &.active {
                    @include sprite($dotActive);
                }
            }
        }

    }

    .kinderSlide {
        float: right;
        width: 390px;
        padding: 12px 0 0 6px;
        position: relative;

        &.slide-0:before {
            content: '';
            @include position(absolute, -1px null null -226px);
            @include sprite($kibi);
        }
        &.slide-1:before {
            content: '';
            @include position(absolute, -8px null null -196px);
            @include size(185px 310px);
            @include sprite($gel);
        }

        div:first-child:first-letter {
            float: left;
            color: $orange;
            font: {
                size: 65px;
                weight: normal;
                family: Futura;
            }
            line-height: 60px;
            margin: 3px 3px -7px -7px;
            text-shadow: 1px 2px 0 #bb6920;
        }

        div {
            margin: 0 0 10px;
        }
    }

    .watchIntro {
        @include position(absolute, null null 0 0);
        padding: 6px 15px;
        height: 31px;
        font-weight: bold;
    }

    ul {
        li {
            margin: -2px 0 6px;
            display: block;

            &:before {
                content: '';
                @include sprite($list-style);
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 0 0;
            }
        }
    }

    b, strong {
        font-weight: bold;
        color: $orange;
    }
}

.positioned {
    .link {
        @include position(absolute, null null 29px 515px);

        &.orange a {
            text-shadow: -1px -1px 0 #bb7520;
            color: $orange;
        }
        &.red a {
            color: $red;
        }

        a {
            text-decoration: none;
        }

        .taleBtn {
            padding: 18px;
            width: 177px;

            &.mini {
                padding: 7px;
            }
        }
    }
}
