@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

.ratingTales {
    @include position(absolute, 92px null null 245px);
    @include size(738px 575px);
    padding: 25px 31px;
    background: url('#{$imgPath}ratingBg.png');

    .tale {
        @include size(642px 172px);
        position: relative;
        display: block;
        background: url('#{$imgPath}ratingTaleBg.png');
        margin: 0 0 1px;
        padding: 18px 21px;

        .cover {
            @include size(233px 136px);
            float: left;
            display: block;
            position: relative;
            border: 13px solid #f59b06;
            border-left: 13px solid #f59b06;
            border-right: 14px solid #f59b06;
            border-radius: 10px;
            box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3), $btnShadow;
            background-color: #b3b4b5;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            &:after {
                content: '';
                @include position(absolute, 22px null null 71px);
                @include size(65px 64px);
                background: url('#{$imgPath}playInRating.png');
            }

        }

        .taleName {
            color: #f59b06;
            font-family: Futura;
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 1px 2px 0 #bb6920;
            float: left;
            margin: 8px 0 0 32px;
        }
    }
}
