@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';
@import '../../base/_sprites.scss';


.ratingTales {
    @include position(absolute, 92px null null 245px);
    @include sprite($ratingBg);
    padding: 25px 31px;

    .ratingTalesWrap {
        @include size(676px 519px);
        position: relative;
        overflow: hidden;
    }

    .tale {
        @include sprite($ratingTaleBg);
        margin: 0 0 1px;
        padding: 18px 21px;
        position: relative;
        display: block;

        .cover {
            @include size(233px 136px);
            float: left;
            display: block;
            position: relative;
            border: 13px solid #f59b06;
            border-left: 13px solid #f59b06;
            border-right: 14px solid #f59b06;
            border-radius: 10px;
            box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3), $btnShadow;
            background: {
                color: #b3b4b5;
                size: contain;
                repeat: no-repeat;
                position: center center;
            }

            &:after {
                content: '';
                @include position(absolute, 22px null null 71px);
                @include sprite($playInRating);
            }

        }

        .taleInfo {
            float: left;
            margin: 8px 0 0 32px;
            width: 335px;
        }

        .taleName {
            width: 100%;
            color: $orange;
            font-family: Futura;
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 1px 2px 0 #bb6920;
        }

        .author, .likes {
            margin: 8px 0;
            font-family: Arial;
            font-size: 16px;

            a {
                color: #333;
            }
        }

        .likeBtn {
            display: inline-block;
            vertical-align: middle;
            margin: 3px;
        }
    }

    .mCSB_scrollTools {
        @include position(absolute, 8px 15px null null);
        @include size(13px 498px);

        .mCSB_buttonUp {
            @include position(absolute, 2px null null 1px);
            @include sprite($scrollArTop);
            opacity: 0.8;
        }

        .mCSB_buttonDown {
            @extend .mCSB_buttonUp;
            top: auto;
            bottom: 0;
            left: 2px;
            @include sprite($scrollArBtm);
        }

        .mCSB_dragger .mCSB_dragger_bar {
            width: 100%;
            background: $orange;

            &:hover, &:active {
                background: $orange;
            }
        }

        a + .mCSB_draggerContainer {
            margin: 14px 0 12px;
        }

        .mCSB_draggerRail {
            width: 100%;
            background: #82440d;
        }

    }
}
