@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';
@import '../../base/_sprites.scss';


#cover {
    display: none;
}

.shareLink {
    @include position(absolute, 245px null null 323px);
    @include size(581px 62px);
    color: #000;
    z-index: 1;
    text-align: center;
    font-size: 18px;
    padding: 25px 0 0;

    &:after {
        @include sprite($shareLink);
        @include position(absolute, -29px null null -18px);
        z-index: -1;
        content: '';
    }

    .linkTitle {
        @include position(absolute, -11px null null 167px);
        @include size(249px 20px);
        font-family: Futura;
        text-transform: lowercase;
        font-size: 18px;
        color: $orange;
        text-shadow: -1px -1px 0 #bb6920;
    }

    .link {
        color: #333;
    }
}

.shareTaleSoc {
    @include position(absolute, 444px null null 466px);
    @include sprite($shareSoc);
    padding: 45px 36px 40px 58px;

    .share {
        @include size(45px);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 13px 20px 13px 0px;
        background: $orange;
        box-shadow: $btnShadow;
        border-radius: 10px;
        cursor: pointer;

        &:after {
            content: '';
            @include position(absolute, 0 null null 0);
        }

        &.fb:after {
            @include sprite($FB);
        }

        &.ok:after {
            display: none;
        }

        &.vk:after {
            @include sprite($VK);
        }
    }

}

.shareCreated {
    @include position(absolute, 145px null null 358px);
    background: $white;
    box-shadow: $outerShadow;
    text-shadow: -1px -1px 0 #c47c05;
    border-radius: 3px;
    cursor: default;
    color: $orange;
    font: {
        weight: bold;
        size: 22px;
        family: Arial;
    }
    padding: 10px 15px;
    width: 510px;
    text-align: center;
}

.shareToFriends {
    @extend .shareCreated;
    top: 350px;
    left: 415px;
    font-size: 18px;
    width: 400px;
}
