@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';
@import '../../base/_sprites.scss';


.companyTales {
    @include position(absolute, 92px null null 245px);
    @include sprite($ratingBg);
    padding: 25px 31px;

    .tale {
        @include sprite($ratingTaleBg);
        position: relative;
        display: block;
        margin: 0 0 1px 14px;
        padding: 18px 21px;

        .cover {
            @include size(233px 136px);
            float: left;
            display: block;
            position: relative;
            @include border-color($orange);
            @include border-style(solid);
            @include border-width(13px 14px);
            border-radius: 10px;
            box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3), $btnShadow;
            background: {
                color: #b3b4b5;
                size: contain;
                repeat: no-repeat;
                position: center center;
            }
        }

        .taleName {
            color: $orange;
            font-family: Futura;
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 1px 2px 0 #bb6920;
            @include size(293px 137px);
            margin: 0 0 0 260px;
            display: table;

            .taleNameInner {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
