@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

.leftPanel {
    position: absolute;
    width: 164px;
    left: -176px;
    top: 300px;
    z-index: 1;
    text-shadow: -1px -1px 0 #c58730;

    .small & {
        left: 18px;
        top: 162px;
    }

    .taleBtnWrap {
        display: block;
        margin-bottom: 9px;
        border-radius: 6px;

        .taleBtn {
            @include clearfix;
            padding: 5px 4px 5px;
            float: none;
            margin-bottom: 1px;
            font-weight: bold;
            font-size: 17px;

            .title {
                margin-bottom: 8px;
                position: relative;
            }
        }
    }

    .hero {
        display: block;
        float: left;
        width: 62px;
        height: 62px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        margin: 0 4px 5px;
        border-radius: 10px;
        box-shadow: $innerShadow;
    }

}

.authorText {
    position: absolute;
    top: 110px;
    left: 236px;
    width: 752px;
    height: 86px;
    display: none;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        top: -15px;
        left: -17px;
        z-index: -1;
        @include size(787px 117px);
        background: url('#{$imgPath}authorText.png');
    }

    &.active {
        display: block;
    }

    textarea {
        width: 100%;
        height: 100%;
        border: none;
        padding: 15px;
        text-align: center;
        font-size: 14px;

        overflow: hidden;
        outline: none;

        box-shadow: none;
        resize: none;
        background: none;
    }
}
.taleZone .displayFrame .chooseMusic {
    bottom: -95px;
    left: -176px;
    z-index: 1;

    .small & {
        bottom: 35px;
        left: 14px;
    }
}

.btmPanel {
    position: absolute;
    bottom: -122px;
    left: 326px;
    z-index: 1;

    .small & {
        bottom: 11px;
    }

    .taleBtnWrap {
        padding: 8px 9px;
    }

    .taleBtn {
        padding: 9px 10px 8px;
    }

    .frame {
        display: block;
        float: left;
        width: 102px;
        background: #f4ecd9;
        color: #333;
        box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin: 0 6px 0 0;
        padding: 29px 0;
        height: 78px;
        position: relative;
        font-size: 16px;

        &:last-of-type {
            margin: 0;
        }

        .plus {
            position: absolute;
            top: 16px;
            left: 29px;
            @include size(45px 45px);
            background: url('#{$imgPath}addSlide.jpg');
        }
    }
}

.rightPanel {
    position: absolute;
    right: -179px;
    top: 453px;
    z-index: 1;
    width: 174px;

    .small & {
        right: 57px;
        top: 334px;
    }

    .taleBtnWrap {
        display: block;
        margin: 0 0 17px;
        font-size: 22px;

        .taleBtn {
            @include size(149px 63px);
            margin: 0 0 2px 1px;
            float: none;
            padding: 10px 0 0;

            &.preview {
                text-shadow: -1px -1px 0 #c28f58;
                color: $orange;
            }

            &.removeSlide {
                color: $red;
                text-shadow: -1px -1px 0 #bb3d0a;
            }
        }
    }
}

.endTale.taleBtnWrap {
    position: absolute;
    bottom: -88px;
    right: -178px;
    z-index: 1;
    padding: 9px 13px 9px 9px;

    .small & {
        bottom: 34px;
        right: 15px;
    }

    .taleBtn {
        @include size(193px 65px);
        border-radius: 10px;
        margin: 0 0 0 1px;
        font-size: 22px;
        padding: 10px 15px;
        text-shadow: -1px -1px 0 #bb3e04;
    }
}

.dragableHeroes {
    position: absolute;
    z-index: 5;
}

.heroInDrag {
    cursor: move;
    position: absolute;

    .name {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -84px;

        input {
            width: 168px;
            height: 38px;
            border: none;
            box-shadow: $outerShadow;
            border-radius: 5px;
            padding: 3px 10px;
            outline: none;
            overflow: auto;
            text-align: center;
        }
    }

    .replica {
        position: absolute;
        top: -99px;
        right: -216px;

        &:after {
            content: '';
            position: absolute;
            top: -15px;
            left: -18px;
            z-index: -1;
            @include size(254px 203px);
            background: url('#{$imgPath}replica.png');
        }

        textarea {
            height: 138px;
            width: 216px;
            padding: 20px;
            background: none;
            text-align: center;
            font-size: 14px;
            outline: none;
            border: none;
            resize: none;
        }
    }

    .replicaControl {
        position: absolute;
        bottom: 0;
        right: -177px;
        width: 123px;
        height: 60px;
        background: #f4ecd9;
        border-radius: 10px;
        box-shadow: $outerShadow;

        .miniCloud {
            position: absolute;
            left: 14px;
            top: 13px;
            width: 51px;
            height: 40px;
            background: url('#{$imgPath}miniCloud.jpg');
        }

        .replicaBtn {
            position: absolute;
            width: 29px;
            height: 29px;
            left: 79px;
            top: 15px;
            cursor: pointer;

            &.add {
                background: url('#{$imgPath}addReplica.jpg');
            }
            &.remove {
                background: url('#{$imgPath}removeReplica.jpg');
            }
        }
    }

    .removeHero {
        @include position(absolute, -38px null null -34px);
        @include size(38px 38px);
        background-color: #f4ecd9;
        border-radius: 6px;
        box-shadow: $outerShadow;
        cursor: pointer;

        &:after {
            content: '';
            @include position(absolute, 10px null null 10px);
            @include size(19px 19px);
            background: url('#{$imgPath}smallX.jpg');
        }
    }
}

.heroImg {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.firstPlan {
    position: absolute;
    z-index: 3;
    @include size(278px 352px);
}
.secondPlan {
    position: absolute;
    z-index: 1;
    @include size(187px 236px);
}
