@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';


.taleZone.previewBlock {
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }

    .frameBg {
        @include transition(all 0.3s ease-in-out);
    }

    .topBlock {
        position: absolute;
        z-index: 5;

        .heroInDrag {
            cursor: default;
        }

        .firstPlan .replica {
            bottom: 370px;
            right: -140px;

            &.dragged {
                bottom: auto;
                right: auto;
            }
        }

        .secondPlan .replica {
            bottom: 250px;
            right: -180px;

            &.dragged {
                bottom: auto;
                right: auto;
            }
        }

        .replica {
            position: absolute;
            width: 220px;
            text-align: center;
            font-size: 16px;
            line-height: 18px;

            &:after {
                display: none;
            }

            &.dragged {
                @include position(absolute, auto auto null null);
            }
        }

        .replicaInner {
            font-family: Arial;
            width: 220px;
            padding: 20px;
            background: #f4ecd9;
            border-radius: 52px;
            word-wrap: break-word;

            &:before {
                content: '';
                z-index: -1;
            }

            &.RT:before {
                @include position(absolute, null null -45px -3px);
                @include sprite($bubleTailRT);
            }

            &.LT:before {
                @include position(absolute, null -3px -45px null);
                @include sprite($bubleTailLT);
            }

            &.RB:before {
                @include position(absolute, -50px null null -3px);
                @include sprite($bubleTailRB);
            }

            &.LB:before {
                @include position(absolute, -50px -3px null null);
                @include sprite($bubleTailLB);
            }

            &:after {
                content: '';
                @include position(absolute, 0 0 0 0);
                z-index: -2;
                border-radius: 52px;
                box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 0.15);
            }
        }

        .heroImg:hover + .name {
            opacity: 1;
        }

        .name {
            bottom: -45px;
            width: 168px;
            height: 38px;
            box-shadow: $outerShadow;
            border-radius: 5px;
            padding: 11px 0;
            overflow: hidden;
            text-align: center;
            font-size: 16px;
            background: #fff;
            opacity: 0;
            font-family: Arial;
        }
    }

    .authorText.active {
        display: table;

        .authorInner {
            font-family: Arial;
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
        }
    }

    .soundBtnWrap {
        @include position(absolute, null null 34px 28px);
        @include size(49px);
        cursor: pointer;
        box-shadow: $outerShadow;
        border-radius: 5px;
        background: #fff;

        .soundBtn {
            @include position(absolute, 6px null null 6px);
            @include sprite($soundOn);

            &.muted {
                @include sprite($soundOff);
            }
        }
    }

    .sharing {
        @include position(absolute, null -3px -11px null);
        @include sprite($playerShareBg);
        padding: 15px 23px 23px 18px;
        line-height: 170%;
        text-align: justify;

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .shareLabel {
            font-family: Arial;
            font-weight: bold;
            font-size: 13px;
            color: $brown;
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 3px;
        }

        .share {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;

            &.fb {
                @include sprite($fbMiniShare);
            }

            &.ok {
                @include size(21px);
            }

            &.vk {
                @include sprite($vkMiniShare);
            }
        }

    }

    .frameControl {
        @include position(absolute, null null -16px 484px);
        @include size(248px 142px);

        .prevFrame {
            @include position(absolute, 45px null null 23px);
            @include size(45px 45px);
            border-radius: 5px;
            box-shadow: $outerShadow;
            z-index: 1;
            cursor: pointer;
            background: #f4ecd9;
            &:after {
                content: '';
                @include position(absolute, 11px null null 5px);
                @include sprite($playP);
            }
        }

        .nextFrame {
            @extend .prevFrame;
            @include position(absolute, null 15px null auto);

            &:after {
                @include position(absolute, 10px null null 4px);
                @include sprite($playN);
            }
        }

        .playFrame {
            @include position(absolute, 15px null null 75px);
            @include size(106px);
            z-index: 1;
            cursor: pointer;
            background: $red;
            border: 13px solid $white;
            border-radius: 50%;
            box-shadow: inset -1px -2px 0px 0px rgba(0, 0, 0, 0.2), $outerShadow;

            &:after {
                content: '';
                @include position(absolute, 19px null null 27px);
                @include sprite($play);
            }

            &.pause:after {
                @include position(absolute, 23px null null 23px);
                @include sprite($pause);
            }
        }
    }

    .trackWrap {
        display: none;
    }

    .likeBox {
        @include position(absolute, 208px null null 380px);
        @include sprite($likeBg);
        z-index: 2;
        padding: 43px 58px;
        font-family: Arial;
        font-size: 18px;

        .likeBtns {
            text-align: center;
            margin: 27px 0 0 -35px;
            padding: 0 5px 0 0;
            width: 429px;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }

        .likeBtn {
            margin: 5px 0;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}
