@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

.taleZone.previewBlock {
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }

    .frameBg {
        @include transition(all 0.3s ease-in-out);
    }

    .topBlock {
        position: absolute;
        z-index: 5;

        .heroInDrag {
            cursor: default;
        }

        .firstPlan .replica {
            bottom: 370px;
            right: -140px;
        }

        .secondPlan .replica {
            bottom: 250px;
            right: -180px;
        }

        .replica {
            top: auto;
            left: auto;
            bottom: 130px;
            width: 220px;
            text-align: center;
            font-size: 16px;

            &:after {
                display: none;
            }
        }

        .replicaInner {
            width: 220px;
            padding: 20px;
            background: #f4ecd9;
            border-radius: 52px;

            &:before {
                content: '';
                @include position(absolute, null null -45px -3px);
                z-index: -1;
                @include size(67px 57px);
                background: url('#{$imgPath}bubleTail.png');
            }

            &:after {
                content: '';
                @include position(absolute, 0 0 0 0);
                z-index: -2;
                border-radius: 52px;
                box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 0.15);
            }
        }

        .heroImg:hover + .name {
            opacity: 1;
        }

        .name {
            bottom: -45px;
            width: 168px;
            height: 38px;
            box-shadow: $outerShadow;
            border-radius: 5px;
            padding: 11px 0;
            overflow: hidden;
            text-align: center;
            font-size: 16px;
            background: #fff;
            opacity: 0;
        }
    }

    .authorText.active {
        display: table;

        .authorInner {
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
        }
    }

    .soundBtn {
        position: absolute;
        bottom: 18px;
        left: 3px;
        @include size(103px 88px);
        background: url('#{$imgPath}soundOn.png');
    }

    .sharing {
        position: absolute;
        bottom: -2px;
        right: -7px;
        @include size(192px 56px);
        background: url('#{$imgPath}shareInTale.png');
    }

    .frameControl {
        position: absolute;
        bottom: -6px;
        left: 478px;
        @include size(255px 142px);
        background: url('#{$imgPath}playerControl.png');

        .prevFrame {
            position: absolute;
            top: 55px;
            left: 33px;
            z-index: 1;
            @include size(43px 33px);
            cursor: pointer;
            background: url('#{$imgPath}prevArrow.jpg');
        }

        .nextFrame {
            @extend .prevFrame;
            left: auto;
            right: 13px;
            background: url('#{$imgPath}nextArrow.jpg');
        }

        .playFrame {
            position: absolute;
            top: 28px;
            left: 86px;
            z-index: 1;
            @include size(88px 88px);
            cursor: pointer;
        }
    }

}
