@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

.taleBtnWrap {
    @include user-select(none);
    background: #f5ebd9;
    display: inline-block;
    box-shadow: $outerShadow;
    font-family: Arial;
    line-height: 110%;

    &.big {
        border-radius: 10px;
        padding: 9px;
        font-weight: bold;
        font-size: 20px;
    }
    &.medium {
        border-radius: 10px;
        padding: 4px 8px;
    }
    &.small {
        padding: 4px;
        border-radius: 4px;
    }
    &.orange {
        background: $orange;
    }
    &.red {
        background: $red;
    }
}
.taleBtn {
    position: relative;
    border-radius: 7px;
    background: #fff;
    display: block;
    float: left;
    cursor: pointer;
    box-shadow: $btnShadow;
    text-align: center;

    &.big {
        width: 49px;
        height: 49px;
        margin-right: 5px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &.small {
        width: 21px;
        height: 19px;
        margin-bottom: 2px;
        border-radius: 3px;
    }

    &:active {
        box-shadow: none;
    }

    &.orange {
        color: #fff;
        background: $orange;
    }
    &.red {
        color: #fff;
        background: $red;
    }
}
