@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';
@import '../../base/_sprites.scss';


.taleZone {

    .chooseCover {
        @include position(absolute, 130px null null 83px);

        .taleBtnWrap {
            padding: 30px 8px;
            border-radius: 15px;
        }

        .taleBtn {
            padding: 11px 13px 6px;
            border-radius: 13px;
            margin: 0 2px 2px 0;

            &:active {
                box-shadow: $btnShadow;
            }
        }

        .coverImage {
            width: 62px;
            height: 62px;
            border-radius: 10px;
            box-shadow: $innerShadow;
            margin-bottom: 5px;
            background-size: contain;
            background-position: center center;
            background-color: #fff;
            background-repeat: no-repeat;
        }

        .chooseColor {
            position: absolute;
            top: 25px;
            left: 103px;
            border-radius: 0 15px 15px 0;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
            width: 74px;
            padding: 37px 8px 34px;

            &:before {
                content: "";
                position: absolute;
                top: -7px;
                bottom: -7px;
                left: -6px;
                width: 9px;
                background: #f5ebd9;
            }

            // .arrow {
            //     left: 19px;
            //     &.top {
            //         top: 12px;
            //         background-image: url('#{$imgPath}colorTop.jpg');
            //     }
            //     &.btm {
            //         bottom: 11px;
            //         background-image: url('#{$imgPath}colorBtm.jpg');
            //     }
            // }
        }

        .coverColor {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            box-shadow: $innerShadow;
            margin-bottom: 4px;
        }

        // .arrow {
        //     position: absolute;
        //     width: 27px;
        //     height: 15px;
        //     left: 28px;
        //     cursor: pointer;
        //
        //     &.top {
        //         top: -23px;
        //         background-image: url('#{$imgPath}imgTop.jpg');
        //     }
        //     &.btm {
        //         background-image: url('#{$imgPath}imgBtm.jpg');
        //         bottom: -23px;
        //     }
        // }
    }

    .taleCover {
        position: absolute;
        width: 565px;
        height: 325px;
        left: 331px;
        top: 114px;
        border-radius: 20px;

        .coverPreview {
            position: absolute;
            width: 516px;
            height: 274px;
            left: 23px;
            top: 25px;
            background-color: #fff;
            box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .taleName {
        position: absolute;
        top: 452px;
        left: 440px;

        .taleBtn {
            padding: 6px 11px;
            margin: 0 2px 2px 0;
        }

        input {
            border: none;
            @include size(306px 34px);
            margin-bottom: 1px;
            border-radius: 5px;
            box-shadow: $innerShadow;
            outline: none;
            padding: 3px 10px;
            text-align: center;
            font-size: 16px;
        }
    }

    .taleNameLimit {
        @include position(absolute, 540px null null 498px);
        background: $white;
        box-shadow: $outerShadow;
        text-shadow: -1px -1px 0 scale-color($orange, $lightness: -20%);
        cursor: default;
        color: $orange;
        font: {
            weight: bold;
            size: 16px;
            family: Arial;
        }
        padding: 5px 15px;
        border-radius: 3px;
        width: 236px;
    }

    .prev {
        @include position(absolute, null 221px 18px null);
        padding: 8px 11px 11px 9px;

        .taleBtn {
            @include size(174px 56px);
            padding: 18px 0 0  32px;
            letter-spacing: 0px;
            text-shadow: -1px -1px 0 #ba8947;

            &:after {
                content: '';
                @include position(absolute, 16px null null 6px);
                @include sprite($backArrow);
            }
        }
    }
}

.taleZone .next.end .taleBtn {
    &:after {
        background: none;
    }
}

.coverName {
    position: absolute;
    font-family: Futura;
    font-size: 32px;
    text-shadow: 1px 2px 0 #bb6920;
    color: $orange;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    cursor: move;
}


#cover {
    display: none;
}
