@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

$taleZoneWidth: 1224px;
$taleZoneHeight: 650px;
$taleContainerWidth: $taleZoneWidth + 380;
$taleContainerHeight: $taleZoneHeight + 170;
$frameBgWidth: 3705px;
$frameBgHeight: 1200px;
$taleBorderBg: #000;
$titleWidth: 346px;
$posWrapWidth: 424px;

.taleForm {
    .right-side {
        overflow-y: hidden;
        overflow-x: visible;
        min-height: $taleContainerHeight;
        position: relative;
        margin-left: 0;
        min-height: 650px;
    }
}

.taleContainer {
    min-width: $taleContainerWidth;
    min-height: $taleContainerHeight;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;


    &.small {
        width: 100%;
        min-width: 1225px;
        min-height: 650px;
    }
}

.taleZone {
    position: absolute;
    top: 20px;
    left: ($taleContainerWidth - $taleZoneWidth) / 2;
    width: $taleZoneWidth;
    height: $taleZoneHeight;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        z-index: 1;
        background: $taleBorderBg;
    }

    &:after {
        @extend :before;
        left: auto;
        right: 0;
    }

    .border {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        height: 1px;
        background: $taleBorderBg;
        &.top {
            top: 0;
        }
        &.btm {
            bottom: 0;
        }
    }

    .setDecorations {
        position: absolute;
        top: 23px;
        left: 14px;

        .taleBtn {
            box-shadow: none;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 49px;
                height: 49px;
            }
            &.orange:after {
                background: url('#{$imgPath}sun.jpg');
            }
            &.red:after {
                background: url('#{$imgPath}moon.jpg');
            }
        }
    }

    .taleTitle {
        @include user-select(none);
        color: $orange;
        width: $titleWidth;
        display: table;
        height: 102px;
        position: absolute;
        left: ($taleZoneWidth - $titleWidth) / 2;
        top: 3px;
        z-index: 1;
        text-align: center;
        font-size: 27px;
        font-weight: bold;
        text-transform: uppercase;

        .innerTitle {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 13px 0 21px;
        }

        &:after {
            content: '';
            position: absolute;
            background-image: url('#{$imgPath}titleBg.png');
            width: 381px;
            height: 138px;
            left: -16px;
            top: -14px;
            z-index: -1;
        }
    }

    .question {
        position: absolute;
        right: 47px;
        top: 10px;
        z-index: 1;

        .taleBtn {
            box-shadow: none;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                @include size(24px 24px);
                background: url('#{$imgPath}question.jpg');
            }
        }
    }

    .closeFrame {
        position: absolute;
        right: 8px;
        top: 10px;
        z-index: 1;

        .taleBtn {
            box-shadow: none;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                @include size(24px 24px);
                background: url('#{$imgPath}close.jpg');
            }
        }
    }

    .arrows {
        position: absolute;
        top: 277px;
        left: 537px;
        width: 152px;
        height: 100px;
        background: #f5ebd9;
        border-radius: 16px;
        background-image: url('#{$imgPath}dragArrow.png');
        background-position: center center;
        background-repeat: no-repeat;
    }

    .chooseMusic {
        position: absolute;
        bottom: 34px;
        left: 14px;

        .taleBtn {
            padding: 6px 10px;
            margin-bottom: 2px;
            width: 228px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: -1px;
                width: 230px;
                height: 49px;
                background: url('#{$imgPath}chooseMusic.jpg');
            }
        }
        .musicLabel {
            box-shadow: $innerShadow;
            padding: 7px;
            background: #fff;
            height: 34px;
            width: 157px;
            display: block;
            border-radius: 4px;
        }
    }

    .next {
        position: absolute;
        right: 15px;
        padding: 11px 14px 11px 12px;
        bottom: 32px;

        .taleBtn {
            width: 191px;
            height: 62px;
            padding: 21px;

            &:after {
                content: '';
                position: absolute;
                top: -2px;
                left: -1px;
                @include size(193px 65px);
                background: url('#{$imgPath}next.jpg');
            }
        }
    }

    .framePosWrap {
        position: absolute;
        width: $posWrapWidth;
        height: 153px;
        bottom: 21px;
        left: ($taleZoneWidth - $posWrapWidth) / 2;

        &:after {
            content: '';
            position: absolute;
            left: -14px;
            top: -13px;
            z-index: 1;
            width: 451px;
            height: 180px;
            background-image: url('#{$imgPath}spread.png');
        }

        .miniBg {
            position: absolute;
            top: 12px;
            left: 21px;
            z-index: 2;
            background: red;
            width: 382px;
            height: 124px;
        }

        .miniFrame {
            position: absolute;
            width: 124px;
            height: 162px;
            top: -19px;
            border-radius: 10px;
            border: 19px solid $orange;
            border-left: 13px solid $orange;
            border-right: 13px solid $orange;
            box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
            cursor: move;
        }
    }
}

.frameBg {
    @include user-select(none);
    position: absolute;
    width: $frameBgWidth;
    height: $frameBgHeight;
    top: ($taleZoneHeight - $frameBgHeight) / 2;

    img {
        position: absolute;
        top: 0;
        left: 0;

        &.fg {
            z-index: 4;
        }
        &.plan {
            z-index: 2;
        }
        &.bg {
            z-index: 0;
        }
    }
}

.taleIn {
    @include absolute();
    display: none;

    &.active {
        display: block;
    }
}
