@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

$taleZoneWidth: 1224px;
$taleZoneHeight: 650px;
$taleContainerWidth: $taleZoneWidth + 380;
$taleContainerHeight: $taleZoneHeight + 170;
$frameBgWidth: 3705px;
$frameBgHeight: 1200px;
$taleBorderBg: #000;
$titleWidth: 346px;
$posWrapWidth: 328px;

.taleForm {
    .right-side {
        overflow-y: hidden;
        overflow-x: visible;
        min-height: $taleContainerHeight;
        position: relative;
        margin-left: 0;
        min-height: 650px;
    }
    background: #52e2ed;
}

.taleContainer {
    min-width: $taleContainerWidth;
    min-height: $taleContainerHeight;
    @include position(absolute, 0 null null 0);
    z-index: 1;
    width: 100%;
    overflow: hidden;

    &.small {
        width: 100%;
        min-width: 1225px;
        min-height: 650px;
    }
}

.taleTitle {
    @include user-select(none);
    color: $orange;
    width: $titleWidth;
    display: table;
    height: 102px;
    position: absolute;
    left: ($taleZoneWidth - $titleWidth) / 2;
    top: 3px;
    z-index: 1;
    text-align: center;
    font-family: Futura;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 5px;
    text-shadow: 1px 2px 0 #bb6920;

    .chooseBg & {
        font-size: 28px;
    }

    .innerTitle {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0 13px 0 21px;
        line-height: 90%;
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url('#{$imgPath}titleBg.png');
        width: 381px;
        height: 138px;
        left: -16px;
        top: -14px;
        z-index: -1;
    }

    .small {
        font-size: 19px;
    }
}

.taleZone {
    position: absolute;
    top: 20px;
    left: ($taleContainerWidth - $taleZoneWidth) / 2;
    width: $taleZoneWidth;
    height: $taleZoneHeight;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        z-index: 2;
        background: $taleBorderBg;
    }

    &:after {
        @extend :before;
        left: auto;
        right: 0;
    }

    .border {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        height: 1px;
        background: $taleBorderBg;
        &.top {
            top: 0;
        }
        &.btm {
            bottom: 0;
        }
    }

    .setDecorations {
        @include position(absolute, 36px null null 39px);
        padding: 6px 7px;

        .taleBtn {
            box-shadow: none;
            @include size(37px 37px);
            &:after {
                content: '';
                @include position(absolute, 0 null null 0);
                @include size(37px 37px);
            }
            &.orange:after {
                background: url('#{$imgPath}sun.png');
            }
            &.red:after {
                background: url('#{$imgPath}moon.png');
            }
        }
    }

    .next {
        @include position(absolute, null 13px 18px null);
        padding: 8px 12px 12px 11px;
        height: 75px;
        text-shadow: -1px -1px 0 #b73e09;

        .taleBtn {
            @include size(172px 58px);
            padding: 16px;

            &:after {
                content: '';
                @include position(absolute, 17px 8px null null);
                @include size(27px 25px);
                background: url('#{$imgPath}nextInSlide.png');
            }
        }
    }

    .framePosWrap {
        @include position(absolute, null null 10px ($taleZoneWidth - $posWrapWidth) / 2);
        @include size($posWrapWidth 152px);

        &:after {
            content: '';
            @include position(absolute, -13px none none -14px);
            z-index: 1;
            @include size(363px 192px);
            background-image: url('#{$imgPath}spread.png');
        }

        .miniBg {
            @include position(absolute, 26px null null 18px);
            @include size(295px 103px);
            z-index: 2;
            background: {
                size: cover;
                position: center center;
            }
        }

        .miniFrame {
            @include position(absolute, -18px null null null);
            @include size(154px 142px);
            &:after {
                cursor: move;
                content: '';
                @include position(absolute, 0 null null -8px);
                @include size(170px 142px);
                background: url('#{$imgPath}previewFrame2.png');
            }
        }
    }
}

.chooseMusic {
    position: absolute;
    bottom: 34px;
    left: 14px;

    &.taleBtnWrap {
        padding: 7px 5px;
        border-radius: 7px;
    }

    .taleBtn {
        padding: 4px 8px;
        margin-bottom: 2px;
        width: 168px;

        &:after {
            content: '';
            @include position(absolute, 8px null null 135px);
            @include size(26px 21px);
            background: url('#{$imgPath}sound.png');
        }
    }
    .musicLabel {
        @include size(122px 26px);
        box-shadow: $innerShadow;
        padding: 1px 0;
        background: #fff;
        font-size: 14px;
        color: $orange;
        text-shadow: 1px 1px 0 #c58730;
        display: block;
        border-radius: 4px;
        overflow: hidden;

        &.chosen {
            color: #333;
            text-shadow: none;
        }
    }

    .trackList {
        @include position(absolute, null null 50px 14px);
        background: $white;
        width: 121px;
        padding: 5px 10px 5px;
        border-radius: 3px 3px 0 0;
        font-size: 12px;

        &:before {
            content: '';
            @include position(absolute, 0 0 0 0);
            z-index: -1;
            border-radius: 3px 3px 0 0;
            box-shadow: $outerShadow;
        }
        &:after {
            content: '';
            @include position(absolute, null -5px -7px -5px);
            height: 7px;
            background: $white;
        }

        .trackItem {
            cursor: pointer;
            margin-bottom: 10px;
            line-height: 100%;
            text-align: center;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}

.frameBgPosition {
    @include position(absolute, 0 0 0 0);
    @include user-select(none);
    cursor: url('#{$imgPath}dragArrow.png'), move;
    z-index: 0;

    &:active {
        cursor: none;
    }

}

.closeFrame {
    @include position(absolute, 9px 8px null null);
    z-index: 1;

    .taleBtn {
        box-shadow: none;
        &:after {
            content: '';
            @include position(absolute, -1px null null -1px);
            @include size(22px 22px);
            background: url('#{$imgPath}close.png');
        }
    }
}

.question {
    @extend .closeFrame;
    right: 44px;

    .taleBtn:after {
        background: url('#{$imgPath}question.png');
    }
}

.frameBg {
    @include user-select(none);
    position: absolute;
    width: $frameBgWidth;
    height: $frameBgHeight;
    top: ($taleZoneHeight - $frameBgHeight) / 2;
    z-index: -2;

    .talePreview & {
        z-index: 0;
    }

    .img, img {
        @include position(absolute, 0 null null 0);
        width: $frameBgWidth;
        height: $frameBgHeight;

        &.fg {
            z-index: 4;
        }
        &.plan {
            z-index: 2;
        }
        &.bg {
            z-index: 0;
        }
    }
}

.taleIn {
    @include absolute();
    display: none;
    z-index: 1;

    &.active {
        display: block;
    }
}
