@import '../base/fonts';

html {
	overflow-y: scroll;
}

.left-side {
	z-index: 2;
}

.right-side {
	.right-side {
		margin: 0;
	}
}

.navTabs,
.addInnerPage {
	margin-bottom: 20px;
}

.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
	background-color: #d9edf7;
}

@import 'cosmetics/_cover.scss';
@import 'cosmetics/_taleBtns.scss';
@import 'cosmetics/_tale.scss';
@import 'cosmetics/_frame.scss';
@import 'cosmetics/_taleCover.scss';
@import 'cosmetics/_preview.scss';
@import 'cosmetics/_popUp.scss';
