/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$FB-x: 2122px;
$FB-y: 445px;
$FB-offset-x: -2122px;
$FB-offset-y: -445px;
$FB-width: 47px;
$FB-height: 47px;
$FB-total-width: 2353px;
$FB-total-height: 1247px;
$FB-image: '../../img/spritesheet.png';
$FB: 2122px 445px -2122px -445px 47px 47px 2353px 1247px '../../img/spritesheet.png';
$VK-x: 2169px;
$VK-y: 445px;
$VK-offset-x: -2169px;
$VK-offset-y: -445px;
$VK-width: 47px;
$VK-height: 47px;
$VK-total-width: 2353px;
$VK-total-height: 1247px;
$VK-image: '../../img/spritesheet.png';
$VK: 2169px 445px -2169px -445px 47px 47px 2353px 1247px '../../img/spritesheet.png';
$addBubble-x: 2227px;
$addBubble-y: 542px;
$addBubble-offset-x: -2227px;
$addBubble-offset-y: -542px;
$addBubble-width: 25px;
$addBubble-height: 19px;
$addBubble-total-width: 2353px;
$addBubble-total-height: 1247px;
$addBubble-image: '../../img/spritesheet.png';
$addBubble: 2227px 542px -2227px -542px 25px 19px 2353px 1247px '../../img/spritesheet.png';
$addSlide-x: 2300px;
$addSlide-y: 445px;
$addSlide-offset-x: -2300px;
$addSlide-offset-y: -445px;
$addSlide-width: 39px;
$addSlide-height: 39px;
$addSlide-total-width: 2353px;
$addSlide-total-height: 1247px;
$addSlide-image: '../../img/spritesheet.png';
$addSlide: 2300px 445px -2300px -445px 39px 39px 2353px 1247px '../../img/spritesheet.png';
$authorText-x: 1347px;
$authorText-y: 628px;
$authorText-offset-x: -1347px;
$authorText-offset-y: -628px;
$authorText-width: 787px;
$authorText-height: 117px;
$authorText-total-width: 2353px;
$authorText-total-height: 1247px;
$authorText-image: '../../img/spritesheet.png';
$authorText: 1347px 628px -1347px -628px 787px 117px 2353px 1247px '../../img/spritesheet.png';
$backArrow-x: 2149px;
$backArrow-y: 574px;
$backArrow-offset-x: -2149px;
$backArrow-offset-y: -574px;
$backArrow-width: 26px;
$backArrow-height: 26px;
$backArrow-total-width: 2353px;
$backArrow-total-height: 1247px;
$backArrow-image: '../../img/spritesheet.png';
$backArrow: 2149px 574px -2149px -574px 26px 26px 2353px 1247px '../../img/spritesheet.png';
$bubleTailLB-x: 2205px;
$bubleTailLB-y: 363px;
$bubleTailLB-offset-x: -2205px;
$bubleTailLB-offset-y: -363px;
$bubleTailLB-width: 67px;
$bubleTailLB-height: 57px;
$bubleTailLB-total-width: 2353px;
$bubleTailLB-total-height: 1247px;
$bubleTailLB-image: '../../img/spritesheet.png';
$bubleTailLB: 2205px 363px -2205px -363px 67px 57px 2353px 1247px '../../img/spritesheet.png';
$bubleTailLT-x: 2160px;
$bubleTailLT-y: 505px;
$bubleTailLT-offset-x: -2160px;
$bubleTailLT-offset-y: -505px;
$bubleTailLT-width: 67px;
$bubleTailLT-height: 57px;
$bubleTailLT-total-width: 2353px;
$bubleTailLT-total-height: 1247px;
$bubleTailLT-image: '../../img/spritesheet.png';
$bubleTailLT: 2160px 505px -2160px -505px 67px 57px 2353px 1247px '../../img/spritesheet.png';
$bubleTailRB-x: 2272px;
$bubleTailRB-y: 363px;
$bubleTailRB-offset-x: -2272px;
$bubleTailRB-offset-y: -363px;
$bubleTailRB-width: 67px;
$bubleTailRB-height: 57px;
$bubleTailRB-total-width: 2353px;
$bubleTailRB-total-height: 1247px;
$bubleTailRB-image: '../../img/spritesheet.png';
$bubleTailRB: 2272px 363px -2272px -363px 67px 57px 2353px 1247px '../../img/spritesheet.png';
$bubleTailRT-x: 2286px;
$bubleTailRT-y: 255px;
$bubleTailRT-offset-x: -2286px;
$bubleTailRT-offset-y: -255px;
$bubleTailRT-width: 67px;
$bubleTailRT-height: 57px;
$bubleTailRT-total-width: 2353px;
$bubleTailRT-total-height: 1247px;
$bubleTailRT-image: '../../img/spritesheet.png';
$bubleTailRT: 2286px 255px -2286px -255px 67px 57px 2353px 1247px '../../img/spritesheet.png';
$chooseStory-x: 738px;
$chooseStory-y: 0px;
$chooseStory-offset-x: -738px;
$chooseStory-offset-y: 0px;
$chooseStory-width: 388px;
$chooseStory-height: 569px;
$chooseStory-total-width: 2353px;
$chooseStory-total-height: 1247px;
$chooseStory-image: '../../img/spritesheet.png';
$chooseStory: 738px 0px -738px 0px 388px 569px 2353px 1247px '../../img/spritesheet.png';
$close-x: 2249px;
$close-y: 420px;
$close-offset-x: -2249px;
$close-offset-y: -420px;
$close-width: 22px;
$close-height: 22px;
$close-total-width: 2353px;
$close-total-height: 1247px;
$close-image: '../../img/spritesheet.png';
$close: 2249px 420px -2249px -420px 22px 22px 2353px 1247px '../../img/spritesheet.png';
$colorBtm-x: 2047px;
$colorBtm-y: 346px;
$colorBtm-offset-x: -2047px;
$colorBtm-offset-y: -346px;
$colorBtm-width: 29px;
$colorBtm-height: 15px;
$colorBtm-total-width: 2353px;
$colorBtm-total-height: 1247px;
$colorBtm-image: '../../img/spritesheet.png';
$colorBtm: 2047px 346px -2047px -346px 29px 15px 2353px 1247px '../../img/spritesheet.png';
$colorTop-x: 1989px;
$colorTop-y: 346px;
$colorTop-offset-x: -1989px;
$colorTop-offset-y: -346px;
$colorTop-width: 29px;
$colorTop-height: 15px;
$colorTop-total-width: 2353px;
$colorTop-total-height: 1247px;
$colorTop-image: '../../img/spritesheet.png';
$colorTop: 1989px 346px -1989px -346px 29px 15px 2353px 1247px '../../img/spritesheet.png';
$dot-x: 2142px;
$dot-y: 346px;
$dot-offset-x: -2142px;
$dot-offset-y: -346px;
$dot-width: 11px;
$dot-height: 9px;
$dot-total-width: 2353px;
$dot-total-height: 1247px;
$dot-image: '../../img/spritesheet.png';
$dot: 2142px 346px -2142px -346px 11px 9px 2353px 1247px '../../img/spritesheet.png';
$dotActive-x: 2131px;
$dotActive-y: 346px;
$dotActive-offset-x: -2131px;
$dotActive-offset-y: -346px;
$dotActive-width: 11px;
$dotActive-height: 9px;
$dotActive-total-width: 2353px;
$dotActive-total-height: 1247px;
$dotActive-image: '../../img/spritesheet.png';
$dotActive: 2131px 346px -2131px -346px 11px 9px 2353px 1247px '../../img/spritesheet.png';
$fbMiniShare-x: 2271px;
$fbMiniShare-y: 420px;
$fbMiniShare-offset-x: -2271px;
$fbMiniShare-offset-y: -420px;
$fbMiniShare-width: 18px;
$fbMiniShare-height: 22px;
$fbMiniShare-total-width: 2353px;
$fbMiniShare-total-height: 1247px;
$fbMiniShare-image: '../../img/spritesheet.png';
$fbMiniShare: 2271px 420px -2271px -420px 18px 22px 2353px 1247px '../../img/spritesheet.png';
$gel-x: 726px;
$gel-y: 575px;
$gel-offset-x: -726px;
$gel-offset-y: -575px;
$gel-width: 185px;
$gel-height: 310px;
$gel-total-width: 2353px;
$gel-total-height: 1247px;
$gel-image: '../../img/spritesheet.png';
$gel: 726px 575px -726px -575px 185px 310px 2353px 1247px '../../img/spritesheet.png';
$imgBtm-x: 2018px;
$imgBtm-y: 346px;
$imgBtm-offset-x: -2018px;
$imgBtm-offset-y: -346px;
$imgBtm-width: 29px;
$imgBtm-height: 15px;
$imgBtm-total-width: 2353px;
$imgBtm-total-height: 1247px;
$imgBtm-image: '../../img/spritesheet.png';
$imgBtm: 2018px 346px -2018px -346px 29px 15px 2353px 1247px '../../img/spritesheet.png';
$imgTop-x: 2076px;
$imgTop-y: 346px;
$imgTop-offset-x: -2076px;
$imgTop-offset-y: -346px;
$imgTop-width: 29px;
$imgTop-height: 15px;
$imgTop-total-width: 2353px;
$imgTop-total-height: 1247px;
$imgTop-image: '../../img/spritesheet.png';
$imgTop: 2076px 346px -2076px -346px 29px 15px 2353px 1247px '../../img/spritesheet.png';
$kibi-x: 1126px;
$kibi-y: 0px;
$kibi-offset-x: -1126px;
$kibi-offset-y: 0px;
$kibi-width: 221px;
$kibi-height: 288px;
$kibi-total-width: 2353px;
$kibi-total-height: 1247px;
$kibi-image: '../../img/spritesheet.png';
$kibi: 1126px 0px -1126px 0px 221px 288px 2353px 1247px '../../img/spritesheet.png';
$kibiNext-x: 2278px;
$kibiNext-y: 445px;
$kibiNext-offset-x: -2278px;
$kibiNext-offset-y: -445px;
$kibiNext-width: 22px;
$kibiNext-height: 41px;
$kibiNext-total-width: 2353px;
$kibiNext-total-height: 1247px;
$kibiNext-image: '../../img/spritesheet.png';
$kibiNext: 2278px 445px -2278px -445px 22px 41px 2353px 1247px '../../img/spritesheet.png';
$kibiPrev-x: 2256px;
$kibiPrev-y: 445px;
$kibiPrev-offset-x: -2256px;
$kibiPrev-offset-y: -445px;
$kibiPrev-width: 22px;
$kibiPrev-height: 41px;
$kibiPrev-total-width: 2353px;
$kibiPrev-total-height: 1247px;
$kibiPrev-image: '../../img/spritesheet.png';
$kibiPrev: 2256px 445px -2256px -445px 22px 41px 2353px 1247px '../../img/spritesheet.png';
$likeBg-x: 0px;
$likeBg-y: 1041px;
$likeBg-offset-x: 0px;
$likeBg-offset-y: -1041px;
$likeBg-width: 471px;
$likeBg-height: 206px;
$likeBg-total-width: 2353px;
$likeBg-total-height: 1247px;
$likeBg-image: '../../img/spritesheet.png';
$likeBg: 0px 1041px 0px -1041px 471px 206px 2353px 1247px '../../img/spritesheet.png';
$list-style-x: 2120px;
$list-style-y: 346px;
$list-style-offset-x: -2120px;
$list-style-offset-y: -346px;
$list-style-width: 11px;
$list-style-height: 11px;
$list-style-total-width: 2353px;
$list-style-total-height: 1247px;
$list-style-image: '../../img/spritesheet.png';
$list-style: 2120px 346px -2120px -346px 11px 11px 2353px 1247px '../../img/spritesheet.png';
$mainTextBg-x: 1347px;
$mainTextBg-y: 0px;
$mainTextBg-offset-x: -1347px;
$mainTextBg-offset-y: 0px;
$mainTextBg-width: 1006px;
$mainTextBg-height: 191px;
$mainTextBg-total-width: 2353px;
$mainTextBg-total-height: 1247px;
$mainTextBg-image: '../../img/spritesheet.png';
$mainTextBg: 1347px 0px -1347px 0px 1006px 191px 2353px 1247px '../../img/spritesheet.png';
$moon-x: 1965px;
$moon-y: 574px;
$moon-offset-x: -1965px;
$moon-offset-y: -574px;
$moon-width: 37px;
$moon-height: 37px;
$moon-total-width: 2353px;
$moon-total-height: 1247px;
$moon-image: '../../img/spritesheet.png';
$moon: 1965px 574px -1965px -574px 37px 37px 2353px 1247px '../../img/spritesheet.png';
$nextArrow-x: 2002px;
$nextArrow-y: 574px;
$nextArrow-offset-x: -2002px;
$nextArrow-offset-y: -574px;
$nextArrow-width: 43px;
$nextArrow-height: 33px;
$nextArrow-total-width: 2353px;
$nextArrow-total-height: 1247px;
$nextArrow-image: '../../img/spritesheet.png';
$nextArrow: 2002px 574px -2002px -574px 43px 33px 2353px 1247px '../../img/spritesheet.png';
$nextFrame-x: 2335px;
$nextFrame-y: 312px;
$nextFrame-offset-x: -2335px;
$nextFrame-offset-y: -312px;
$nextFrame-width: 15px;
$nextFrame-height: 29px;
$nextFrame-total-width: 2353px;
$nextFrame-total-height: 1247px;
$nextFrame-image: '../../img/spritesheet.png';
$nextFrame: 2335px 312px -2335px -312px 15px 29px 2353px 1247px '../../img/spritesheet.png';
$nextInSlide-x: 2205px;
$nextInSlide-y: 420px;
$nextInSlide-offset-x: -2205px;
$nextInSlide-offset-y: -420px;
$nextInSlide-width: 27px;
$nextInSlide-height: 25px;
$nextInSlide-total-width: 2353px;
$nextInSlide-total-height: 1247px;
$nextInSlide-image: '../../img/spritesheet.png';
$nextInSlide: 2205px 420px -2205px -420px 27px 25px 2353px 1247px '../../img/spritesheet.png';
$pageBg-x: 0px;
$pageBg-y: 575px;
$pageBg-offset-x: 0px;
$pageBg-offset-y: -575px;
$pageBg-width: 726px;
$pageBg-height: 466px;
$pageBg-total-width: 2353px;
$pageBg-total-height: 1247px;
$pageBg-image: '../../img/spritesheet.png';
$pageBg: 0px 575px 0px -575px 726px 466px 2353px 1247px '../../img/spritesheet.png';
$pause-x: 2286px;
$pause-y: 312px;
$pause-offset-x: -2286px;
$pause-offset-y: -312px;
$pause-width: 34px;
$pause-height: 34px;
$pause-total-width: 2353px;
$pause-total-height: 1247px;
$pause-image: '../../img/spritesheet.png';
$pause: 2286px 312px -2286px -312px 34px 34px 2353px 1247px '../../img/spritesheet.png';
$play-x: 2216px;
$play-y: 445px;
$play-offset-x: -2216px;
$play-offset-y: -445px;
$play-width: 40px;
$play-height: 42px;
$play-total-width: 2353px;
$play-total-height: 1247px;
$play-image: '../../img/spritesheet.png';
$play: 2216px 445px -2216px -445px 40px 42px 2353px 1247px '../../img/spritesheet.png';
$playBtn-x: 1517px;
$playBtn-y: 363px;
$playBtn-offset-x: -1517px;
$playBtn-offset-y: -363px;
$playBtn-width: 143px;
$playBtn-height: 142px;
$playBtn-total-width: 2353px;
$playBtn-total-height: 1247px;
$playBtn-image: '../../img/spritesheet.png';
$playBtn: 1517px 363px -1517px -363px 143px 142px 2353px 1247px '../../img/spritesheet.png';
$playInRating-x: 2286px;
$playInRating-y: 191px;
$playInRating-offset-x: -2286px;
$playInRating-offset-y: -191px;
$playInRating-width: 65px;
$playInRating-height: 64px;
$playInRating-total-width: 2353px;
$playInRating-total-height: 1247px;
$playInRating-image: '../../img/spritesheet.png';
$playInRating: 2286px 191px -2286px -191px 65px 64px 2353px 1247px '../../img/spritesheet.png';
$playN-x: 2175px;
$playN-y: 574px;
$playN-offset-x: -2175px;
$playN-offset-y: -574px;
$playN-width: 33px;
$playN-height: 26px;
$playN-total-width: 2353px;
$playN-total-height: 1247px;
$playN-image: '../../img/spritesheet.png';
$playN: 2175px 574px -2175px -574px 33px 26px 2353px 1247px '../../img/spritesheet.png';
$playP-x: 2117px;
$playP-y: 574px;
$playP-offset-x: -2117px;
$playP-offset-y: -574px;
$playP-width: 32px;
$playP-height: 26px;
$playP-total-width: 2353px;
$playP-total-height: 1247px;
$playP-image: '../../img/spritesheet.png';
$playP: 2117px 574px -2117px -574px 32px 26px 2353px 1247px '../../img/spritesheet.png';
$playerShareBg-x: 1965px;
$playerShareBg-y: 505px;
$playerShareBg-offset-x: -1965px;
$playerShareBg-offset-y: -505px;
$playerShareBg-width: 195px;
$playerShareBg-height: 69px;
$playerShareBg-total-width: 2353px;
$playerShareBg-total-height: 1247px;
$playerShareBg-image: '../../img/spritesheet.png';
$playerShareBg: 1965px 505px -1965px -505px 195px 69px 2353px 1247px '../../img/spritesheet.png';
$popupBg-x: 471px;
$popupBg-y: 1041px;
$popupBg-offset-x: -471px;
$popupBg-offset-y: -1041px;
$popupBg-width: 393px;
$popupBg-height: 206px;
$popupBg-total-width: 2353px;
$popupBg-total-height: 1247px;
$popupBg-image: '../../img/spritesheet.png';
$popupBg: 471px 1041px -471px -1041px 393px 206px 2353px 1247px '../../img/spritesheet.png';
$prevArrow-x: 2045px;
$prevArrow-y: 574px;
$prevArrow-offset-x: -2045px;
$prevArrow-offset-y: -574px;
$prevArrow-width: 43px;
$prevArrow-height: 33px;
$prevArrow-total-width: 2353px;
$prevArrow-total-height: 1247px;
$prevArrow-image: '../../img/spritesheet.png';
$prevArrow: 2045px 574px -2045px -574px 43px 33px 2353px 1247px '../../img/spritesheet.png';
$prevFrame-x: 2320px;
$prevFrame-y: 312px;
$prevFrame-offset-x: -2320px;
$prevFrame-offset-y: -312px;
$prevFrame-width: 15px;
$prevFrame-height: 29px;
$prevFrame-total-width: 2353px;
$prevFrame-total-height: 1247px;
$prevFrame-image: '../../img/spritesheet.png';
$prevFrame: 2320px 312px -2320px -312px 15px 29px 2353px 1247px '../../img/spritesheet.png';
$previewFrame2-x: 1347px;
$previewFrame2-y: 363px;
$previewFrame2-offset-x: -1347px;
$previewFrame2-offset-y: -363px;
$previewFrame2-width: 170px;
$previewFrame2-height: 142px;
$previewFrame2-total-width: 2353px;
$previewFrame2-total-height: 1247px;
$previewFrame2-image: '../../img/spritesheet.png';
$previewFrame2: 1347px 363px -1347px -363px 170px 142px 2353px 1247px '../../img/spritesheet.png';
$question-x: 2289px;
$question-y: 420px;
$question-offset-x: -2289px;
$question-offset-y: -420px;
$question-width: 22px;
$question-height: 22px;
$question-total-width: 2353px;
$question-total-height: 1247px;
$question-image: '../../img/spritesheet.png';
$question: 2289px 420px -2289px -420px 22px 22px 2353px 1247px '../../img/spritesheet.png';
$ratingBg-x: 0px;
$ratingBg-y: 0px;
$ratingBg-offset-x: 0px;
$ratingBg-offset-y: 0px;
$ratingBg-width: 738px;
$ratingBg-height: 575px;
$ratingBg-total-width: 2353px;
$ratingBg-total-height: 1247px;
$ratingBg-image: '../../img/spritesheet.png';
$ratingBg: 0px 0px 0px 0px 738px 575px 2353px 1247px '../../img/spritesheet.png';
$ratingTaleBg-x: 1347px;
$ratingTaleBg-y: 191px;
$ratingTaleBg-offset-x: -1347px;
$ratingTaleBg-offset-y: -191px;
$ratingTaleBg-width: 642px;
$ratingTaleBg-height: 172px;
$ratingTaleBg-total-width: 2353px;
$ratingTaleBg-total-height: 1247px;
$ratingTaleBg-image: '../../img/spritesheet.png';
$ratingTaleBg: 1347px 191px -1347px -191px 642px 172px 2353px 1247px '../../img/spritesheet.png';
$removeReplica-x: 2088px;
$removeReplica-y: 574px;
$removeReplica-offset-x: -2088px;
$removeReplica-offset-y: -574px;
$removeReplica-width: 29px;
$removeReplica-height: 29px;
$removeReplica-total-width: 2353px;
$removeReplica-total-height: 1247px;
$removeReplica-image: '../../img/spritesheet.png';
$removeReplica: 2088px 574px -2088px -574px 29px 29px 2353px 1247px '../../img/spritesheet.png';
$scrollArBtm-x: 2164px;
$scrollArBtm-y: 346px;
$scrollArBtm-offset-x: -2164px;
$scrollArBtm-offset-y: -346px;
$scrollArBtm-width: 11px;
$scrollArBtm-height: 8px;
$scrollArBtm-total-width: 2353px;
$scrollArBtm-total-height: 1247px;
$scrollArBtm-image: '../../img/spritesheet.png';
$scrollArBtm: 2164px 346px -2164px -346px 11px 8px 2353px 1247px '../../img/spritesheet.png';
$scrollArTop-x: 2153px;
$scrollArTop-y: 346px;
$scrollArTop-offset-x: -2153px;
$scrollArTop-offset-y: -346px;
$scrollArTop-width: 11px;
$scrollArTop-height: 8px;
$scrollArTop-total-width: 2353px;
$scrollArTop-total-height: 1247px;
$scrollArTop-image: '../../img/spritesheet.png';
$scrollArTop: 2153px 346px -2153px -346px 11px 8px 2353px 1247px '../../img/spritesheet.png';
$shareLink-x: 1347px;
$shareLink-y: 505px;
$shareLink-offset-x: -1347px;
$shareLink-offset-y: -505px;
$shareLink-width: 618px;
$shareLink-height: 123px;
$shareLink-total-width: 2353px;
$shareLink-total-height: 1247px;
$shareLink-image: '../../img/spritesheet.png';
$shareLink: 1347px 505px -1347px -505px 618px 123px 2353px 1247px '../../img/spritesheet.png';
$shareSoc-x: 1989px;
$shareSoc-y: 191px;
$shareSoc-offset-x: -1989px;
$shareSoc-offset-y: -191px;
$shareSoc-width: 297px;
$shareSoc-height: 155px;
$shareSoc-total-width: 2353px;
$shareSoc-total-height: 1247px;
$shareSoc-image: '../../img/spritesheet.png';
$shareSoc: 1989px 191px -1989px -191px 297px 155px 2353px 1247px '../../img/spritesheet.png';
$smallX-x: 2105px;
$smallX-y: 346px;
$smallX-offset-x: -2105px;
$smallX-offset-y: -346px;
$smallX-width: 15px;
$smallX-height: 14px;
$smallX-total-width: 2353px;
$smallX-total-height: 1247px;
$smallX-image: '../../img/spritesheet.png';
$smallX: 2105px 346px -2105px -346px 15px 14px 2353px 1247px '../../img/spritesheet.png';
$sound-x: 2311px;
$sound-y: 420px;
$sound-offset-x: -2311px;
$sound-offset-y: -420px;
$sound-width: 26px;
$sound-height: 21px;
$sound-total-width: 2353px;
$sound-total-height: 1247px;
$sound-image: '../../img/spritesheet.png';
$sound: 2311px 420px -2311px -420px 26px 21px 2353px 1247px '../../img/spritesheet.png';
$soundOff-x: 2300px;
$soundOff-y: 505px;
$soundOff-offset-x: -2300px;
$soundOff-offset-y: -505px;
$soundOff-width: 36px;
$soundOff-height: 37px;
$soundOff-total-width: 2353px;
$soundOff-total-height: 1247px;
$soundOff-image: '../../img/spritesheet.png';
$soundOff: 2300px 505px -2300px -505px 36px 37px 2353px 1247px '../../img/spritesheet.png';
$soundOn-x: 2227px;
$soundOn-y: 505px;
$soundOn-offset-x: -2227px;
$soundOn-offset-y: -505px;
$soundOn-width: 36px;
$soundOn-height: 37px;
$soundOn-total-width: 2353px;
$soundOn-total-height: 1247px;
$soundOn-image: '../../img/spritesheet.png';
$soundOn: 2227px 505px -2227px -505px 36px 37px 2353px 1247px '../../img/spritesheet.png';
$spread-x: 864px;
$spread-y: 1041px;
$spread-offset-x: -864px;
$spread-offset-y: -1041px;
$spread-width: 363px;
$spread-height: 192px;
$spread-total-width: 2353px;
$spread-total-height: 1247px;
$spread-image: '../../img/spritesheet.png';
$spread: 864px 1041px -864px -1041px 363px 192px 2353px 1247px '../../img/spritesheet.png';
$sun-x: 2263px;
$sun-y: 505px;
$sun-offset-x: -2263px;
$sun-offset-y: -505px;
$sun-width: 37px;
$sun-height: 37px;
$sun-total-width: 2353px;
$sun-total-height: 1247px;
$sun-image: '../../img/spritesheet.png';
$sun: 2263px 505px -2263px -505px 37px 37px 2353px 1247px '../../img/spritesheet.png';
$titleBg-x: 1660px;
$titleBg-y: 363px;
$titleBg-offset-x: -1660px;
$titleBg-offset-y: -363px;
$titleBg-width: 381px;
$titleBg-height: 138px;
$titleBg-total-width: 2353px;
$titleBg-total-height: 1247px;
$titleBg-image: '../../img/spritesheet.png';
$titleBg: 1660px 363px -1660px -363px 381px 138px 2353px 1247px '../../img/spritesheet.png';
$vedmeBanka-x: 2041px;
$vedmeBanka-y: 363px;
$vedmeBanka-offset-x: -2041px;
$vedmeBanka-offset-y: -363px;
$vedmeBanka-width: 81px;
$vedmeBanka-height: 133px;
$vedmeBanka-total-width: 2353px;
$vedmeBanka-total-height: 1247px;
$vedmeBanka-image: '../../img/spritesheet.png';
$vedmeBanka: 2041px 363px -2041px -363px 81px 133px 2353px 1247px '../../img/spritesheet.png';
$vkMiniShare-x: 2232px;
$vkMiniShare-y: 420px;
$vkMiniShare-offset-x: -2232px;
$vkMiniShare-offset-y: -420px;
$vkMiniShare-width: 17px;
$vkMiniShare-height: 22px;
$vkMiniShare-total-width: 2353px;
$vkMiniShare-total-height: 1247px;
$vkMiniShare-image: '../../img/spritesheet.png';
$vkMiniShare: 2232px 420px -2232px -420px 17px 22px 2353px 1247px '../../img/spritesheet.png';
$watchTale-x: 2122px;
$watchTale-y: 363px;
$watchTale-offset-x: -2122px;
$watchTale-offset-y: -363px;
$watchTale-width: 83px;
$watchTale-height: 82px;
$watchTale-total-width: 2353px;
$watchTale-total-height: 1247px;
$watchTale-image: '../../img/spritesheet.png';
$watchTale: 2122px 363px -2122px -363px 83px 82px 2353px 1247px '../../img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
