.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

@font-face {
  font-family: Futura;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/futura/futura.eot");
  src: url("/fonts/futura/futura.eot?#iefix") format("embedded-opentype"), url("/fonts/futura/futura.woff") format("woff"), url("/fonts/futura/futura.ttf") format("truetype"), url("/fonts/futura/futura.svg#Futura") format("svg"); }
html {
  overflow-y: scroll; }

.left-side {
  z-index: 2; }

.right-side .right-side {
  margin: 0; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.coverImgTbl > tbody > tr > td {
  vertical-align: middle; }
.coverImgTbl .coverImage {
  height: 70px;
  width: 70px;
  display: inline-block; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleBtnWrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f5ebd9;
  display: inline-block;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial;
  line-height: 110%; }
  .taleBtnWrap.big {
    border-radius: 10px;
    padding: 9px;
    font-weight: bold;
    font-size: 20px; }
  .taleBtnWrap.medium {
    border-radius: 10px;
    padding: 4px 8px; }
  .taleBtnWrap.small {
    padding: 4px;
    border-radius: 4px; }
  .taleBtnWrap.orange {
    background: #f59b06; }
  .taleBtnWrap.red {
    background: #df4a08; }

.taleBtn {
  position: relative;
  border-radius: 7px;
  background: #fff;
  display: block;
  float: left;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
  text-align: center; }
  .taleBtn.big {
    width: 49px;
    height: 49px;
    margin-right: 9px; }
    .taleBtn.big:last-of-type {
      margin-right: 0; }
  .taleBtn.small {
    width: 24px;
    height: 22px;
    margin-bottom: 2px;
    border-radius: 3px; }
  .taleBtn:active {
    box-shadow: none; }
  .taleBtn.orange {
    color: #fff;
    background: #f59b06; }
  .taleBtn.red {
    color: #fff;
    background: #df4a08; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleForm .right-side {
  overflow-y: hidden;
  overflow-x: visible;
  min-height: 820px;
  position: relative;
  margin-left: 0;
  min-height: 650px; }

.taleContainer {
  min-width: 1604px;
  min-height: 820px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }
  .taleContainer.small {
    width: 100%;
    min-width: 1225px;
    min-height: 650px; }

.taleTitle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f59b06;
  width: 346px;
  display: table;
  height: 102px;
  position: absolute;
  left: 439px;
  top: 3px;
  z-index: 1;
  text-align: center;
  font-family: Futura;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 5px;
  text-shadow: 1px 2px 0 #bb6920; }
  .taleTitle .innerTitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 13px 0 21px; }
  .taleTitle:after {
    content: '';
    position: absolute;
    background-image: url("/img/titleBg.png");
    width: 381px;
    height: 138px;
    left: -16px;
    top: -14px;
    z-index: -1; }

.taleZone {
  position: absolute;
  top: 20px;
  left: 190px;
  width: 1224px;
  height: 650px; }
  .taleZone:before, .taleZone:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 1;
    background: #000; }
  .taleZone:after {
    left: auto;
    right: 0; }
  .taleZone .border {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    height: 1px;
    background: #000; }
    .taleZone .border.top {
      top: 0; }
    .taleZone .border.btm {
      bottom: 0; }
  .taleZone .setDecorations {
    position: absolute;
    top: 23px;
    left: 14px; }
    .taleZone .setDecorations .taleBtn {
      box-shadow: none; }
      .taleZone .setDecorations .taleBtn:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 49px;
        height: 49px; }
      .taleZone .setDecorations .taleBtn.orange:after {
        background: url("/img/sun.jpg"); }
      .taleZone .setDecorations .taleBtn.red:after {
        background: url("/img/moon.jpg"); }
  .taleZone .question {
    position: absolute;
    right: 47px;
    top: 10px;
    z-index: 1; }
    .taleZone .question .taleBtn {
      box-shadow: none; }
      .taleZone .question .taleBtn:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background: url("/img/question.jpg"); }
  .taleZone .arrows {
    position: absolute;
    top: 277px;
    left: 537px;
    width: 152px;
    height: 100px;
    background: #f5ebd9;
    border-radius: 16px;
    background-image: url("/img/dragArrow.png");
    background-position: center center;
    background-repeat: no-repeat; }
  .taleZone .chooseMusic {
    position: absolute;
    bottom: 34px;
    left: 14px; }
    .taleZone .chooseMusic .taleBtn {
      padding: 6px 10px 7px;
      margin-bottom: 2px;
      width: 228px; }
      .taleZone .chooseMusic .taleBtn:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 175px;
        height: 32px;
        width: 41px;
        background: url("/img/sound.jpg"); }
    .taleZone .chooseMusic .musicLabel {
      height: 34px;
      width: 157px;
      box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
      padding: 9px 7px 7px;
      background: #fff;
      font-size: 17px;
      color: #f59b06;
      text-shadow: 1px 1px 0 #c58730;
      display: block;
      border-radius: 4px; }
  .taleZone .next {
    position: absolute;
    right: 15px;
    bottom: 32px;
    padding: 9px 14px 13px 12px;
    height: 84px;
    text-shadow: -1px -1px 0 #b73e09; }
    .taleZone .next .taleBtn {
      height: 62px;
      width: 191px;
      padding: 21px 58px 21px 21px; }
      .taleZone .next .taleBtn:after {
        content: '';
        position: absolute;
        top: 16px;
        left: 114px;
        height: 30px;
        width: 41px;
        background: url("/img/nextInSlide.jpg"); }
  .taleZone .framePosWrap {
    position: absolute;
    width: 424px;
    height: 153px;
    bottom: 21px;
    left: 400px; }
    .taleZone .framePosWrap:after {
      content: '';
      position: absolute;
      left: -14px;
      top: -13px;
      z-index: 1;
      width: 451px;
      height: 180px;
      background-image: url("/img/spread.png"); }
    .taleZone .framePosWrap .miniBg {
      position: absolute;
      top: 12px;
      left: 21px;
      z-index: 2;
      width: 382px;
      height: 124px; }
      .taleZone .framePosWrap .miniBg .miniLimit {
        position: absolute;
        top: 0;
        left: 33px;
        height: 100%;
        width: 316px; }
    .taleZone .framePosWrap .miniFrame {
      position: absolute;
      width: 124px;
      height: 162px;
      top: -19px;
      border-radius: 10px;
      border: 19px solid #f59b06;
      border-left: 13px solid #f59b06;
      border-right: 13px solid #f59b06;
      box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
      cursor: move; }

.closeFrame {
  position: absolute;
  right: 8px;
  top: 10px;
  z-index: 1; }
  .closeFrame .taleBtn {
    box-shadow: none; }
    .closeFrame .taleBtn:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background: url("/img/close.jpg"); }

.frameBg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 3705px;
  height: 1200px;
  top: -275px; }
  .frameBg img {
    position: absolute;
    top: 0;
    left: 0; }
    .frameBg img.fg {
      z-index: 4; }
    .frameBg img.plan {
      z-index: 2; }
    .frameBg img.bg {
      z-index: 0; }

.taleIn {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .taleIn.active {
    display: block; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.leftPanel {
  position: absolute;
  width: 164px;
  left: -176px;
  top: 300px;
  z-index: 1;
  text-shadow: -1px -1px 0 #c58730; }
  .small .leftPanel {
    left: 18px;
    top: 162px; }
  .leftPanel .taleBtnWrap {
    display: block;
    margin-bottom: 9px;
    border-radius: 6px; }
    .leftPanel .taleBtnWrap .taleBtn {
      padding: 5px 4px 5px;
      float: none;
      margin-bottom: 1px;
      font-weight: bold;
      font-size: 17px; }
      .leftPanel .taleBtnWrap .taleBtn:after {
        content: "";
        display: table;
        clear: both; }
      .leftPanel .taleBtnWrap .taleBtn .title {
        margin-bottom: 8px;
        position: relative; }
  .leftPanel .hero {
    display: block;
    float: left;
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    margin: 0 4px 5px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3); }

.authorText {
  position: absolute;
  top: 110px;
  left: 236px;
  width: 752px;
  height: 86px;
  display: none;
  z-index: 1; }
  .authorText:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -17px;
    z-index: -1;
    height: 117px;
    width: 787px;
    background: url("/img/authorText.png"); }
  .authorText.active {
    display: block; }
  .authorText textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    outline: none;
    box-shadow: none;
    resize: none;
    background: none; }

.taleZone .displayFrame .chooseMusic {
  bottom: -95px;
  left: -176px;
  z-index: 1; }
  .small .taleZone .displayFrame .chooseMusic {
    bottom: 35px;
    left: 14px; }

.btmPanel {
  position: absolute;
  bottom: -122px;
  left: 326px;
  z-index: 1; }
  .small .btmPanel {
    bottom: 11px; }
  .btmPanel .taleBtnWrap {
    padding: 8px 9px; }
  .btmPanel .taleBtn {
    padding: 9px 10px 8px; }
  .btmPanel .frame {
    display: block;
    float: left;
    width: 102px;
    background: #f4ecd9;
    color: #333;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 6px 0 0;
    padding: 29px 0;
    height: 78px;
    position: relative;
    font-size: 16px; }
    .btmPanel .frame:last-of-type {
      margin: 0; }
    .btmPanel .frame .plus {
      position: absolute;
      top: 16px;
      left: 29px;
      height: 45px;
      width: 45px;
      background: url("/img/addSlide.jpg"); }

.rightPanel {
  position: absolute;
  right: -179px;
  top: 453px;
  z-index: 1;
  width: 174px; }
  .small .rightPanel {
    right: 57px;
    top: 334px; }
  .rightPanel .taleBtnWrap {
    display: block;
    margin: 0 0 17px;
    font-size: 22px; }
    .rightPanel .taleBtnWrap .taleBtn {
      height: 63px;
      width: 149px;
      margin: 0 0 2px 1px;
      float: none;
      padding: 10px 0 0; }
      .rightPanel .taleBtnWrap .taleBtn.preview {
        text-shadow: -1px -1px 0 #c28f58;
        color: #f59b06; }
      .rightPanel .taleBtnWrap .taleBtn.removeSlide {
        color: #df4a08;
        text-shadow: -1px -1px 0 #bb3d0a; }

.endTale.taleBtnWrap {
  position: absolute;
  bottom: -88px;
  right: -178px;
  z-index: 1;
  padding: 9px 13px 9px 9px; }
  .small .endTale.taleBtnWrap {
    bottom: 34px;
    right: 15px; }
  .endTale.taleBtnWrap .taleBtn {
    height: 65px;
    width: 193px;
    border-radius: 10px;
    margin: 0 0 0 1px;
    font-size: 22px;
    padding: 10px 15px;
    text-shadow: -1px -1px 0 #bb3e04; }

.dragableHeroes {
  position: absolute;
  z-index: 5; }

.heroInDrag {
  cursor: move;
  position: absolute; }
  .heroInDrag .name {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -84px; }
    .heroInDrag .name input {
      width: 168px;
      height: 38px;
      border: none;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 3px 10px;
      outline: none;
      overflow: auto;
      text-align: center; }
  .heroInDrag .replica {
    position: absolute;
    top: -99px;
    right: -216px; }
    .heroInDrag .replica:after {
      content: '';
      position: absolute;
      top: -15px;
      left: -18px;
      z-index: -1;
      height: 203px;
      width: 254px;
      background: url("/img/replica.png"); }
    .heroInDrag .replica textarea {
      height: 138px;
      width: 216px;
      padding: 20px;
      background: none;
      text-align: center;
      font-size: 14px;
      outline: none;
      border: none;
      resize: none; }
  .heroInDrag .replicaControl {
    position: absolute;
    bottom: 0;
    right: -177px;
    width: 123px;
    height: 60px;
    background: #f4ecd9;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1); }
    .heroInDrag .replicaControl .miniCloud {
      position: absolute;
      left: 14px;
      top: 13px;
      width: 51px;
      height: 40px;
      background: url("/img/miniCloud.jpg"); }
    .heroInDrag .replicaControl .replicaBtn {
      position: absolute;
      width: 29px;
      height: 29px;
      left: 79px;
      top: 15px;
      cursor: pointer; }
      .heroInDrag .replicaControl .replicaBtn.add {
        background: url("/img/addReplica.jpg"); }
      .heroInDrag .replicaControl .replicaBtn.remove {
        background: url("/img/removeReplica.jpg"); }
  .heroInDrag .removeHero {
    position: absolute;
    top: -38px;
    left: -34px;
    height: 38px;
    width: 38px;
    background-color: #f4ecd9;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    .heroInDrag .removeHero:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      height: 19px;
      width: 19px;
      background: url("/img/smallX.jpg"); }

.heroImg {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; }

.firstPlan {
  position: absolute;
  z-index: 3;
  height: 352px;
  width: 278px; }

.secondPlan {
  position: absolute;
  z-index: 1;
  height: 236px;
  width: 187px; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleZone .chooseCover {
  position: absolute;
  top: 130px;
  left: 81px; }
  .taleZone .chooseCover .taleBtnWrap {
    padding: 32px 5px;
    border-radius: 15px; }
  .taleZone .chooseCover .taleBtn {
    padding: 11px 12px;
    margin-right: 2px; }
    .taleZone .chooseCover .taleBtn:active {
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3); }
  .taleZone .chooseCover .coverImage {
    width: 62px;
    height: 62px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    background-size: contain;
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat; }
    .taleZone .chooseCover .coverImage:last-of-type {
      margin-bottom: 0; }
  .taleZone .chooseCover .chooseColor {
    position: absolute;
    top: 25px;
    left: 98px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 74px;
    padding: 37px 8px; }
    .taleZone .chooseCover .chooseColor:before, .taleZone .chooseCover .chooseColor.taleZone:after {
      content: "";
      position: absolute;
      top: -7px;
      bottom: -7px;
      left: -6px;
      width: 6px;
      background: #f5ebd9; }
    .taleZone .chooseCover .chooseColor .arrow {
      left: 19px; }
      .taleZone .chooseCover .chooseColor .arrow.top {
        top: 12px;
        background-image: url("/img/colorTop.jpg"); }
      .taleZone .chooseCover .chooseColor .arrow.btm {
        bottom: 11px;
        background-image: url("/img/colorBtm.jpg"); }
  .taleZone .chooseCover .coverColor {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 4px; }
    .taleZone .chooseCover .coverColor:last-of-type {
      margin-bottom: 0; }
  .taleZone .chooseCover .arrow {
    position: absolute;
    width: 27px;
    height: 15px;
    left: 27px;
    cursor: pointer; }
    .taleZone .chooseCover .arrow.top {
      top: -23px;
      background-image: url("/img/imgTop.jpg"); }
    .taleZone .chooseCover .arrow.btm {
      background-image: url("/img/imgBtm.jpg");
      bottom: -23px; }
.taleZone .taleCover {
  position: absolute;
  width: 565px;
  height: 325px;
  left: 331px;
  top: 114px;
  border-radius: 20px; }
  .taleZone .taleCover .preview {
    position: absolute;
    width: 516px;
    height: 274px;
    left: 23px;
    top: 25px;
    background-color: #fff;
    box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
.taleZone .taleName {
  position: absolute;
  top: 453px;
  left: 491px; }
  .taleZone .taleName .taleBtn {
    padding: 6px 11px; }
  .taleZone .taleName input {
    border: none;
    height: 34px;
    margin-bottom: 1px;
    width: 206px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 3px 10px;
    text-align: center;
    font-size: 16px; }
.taleZone .prev {
  position: absolute;
  right: 243px;
  padding: 11px 14px 11px 12px;
  bottom: 32px; }
  .taleZone .prev .taleBtn {
    height: 62px;
    width: 191px;
    padding: 21px 21px 21px 44px;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #ba8947; }
    .taleZone .prev .taleBtn:after {
      content: '';
      position: absolute;
      top: 16px;
      left: 4px;
      height: 29px;
      width: 35px;
      background: url("/img/backArrow.jpg"); }

.taleZone .next.end .taleBtn {
  padding: 21px; }
  .taleZone .next.end .taleBtn:after {
    background: none; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleZone.previewBlock:before, .taleZone.previewBlock:after {
  display: none; }
.taleZone.previewBlock:after {
  display: none; }
.taleZone.previewBlock .frameBg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.taleZone.previewBlock .topBlock {
  position: absolute;
  z-index: 5; }
  .taleZone.previewBlock .topBlock .heroInDrag {
    cursor: default; }
  .taleZone.previewBlock .topBlock .firstPlan .replica {
    bottom: 370px;
    right: -140px; }
  .taleZone.previewBlock .topBlock .secondPlan .replica {
    bottom: 250px;
    right: -180px; }
  .taleZone.previewBlock .topBlock .replica {
    top: auto;
    left: auto;
    bottom: 130px;
    width: 220px;
    text-align: center;
    font-size: 16px; }
    .taleZone.previewBlock .topBlock .replica:after {
      display: none; }
  .taleZone.previewBlock .topBlock .replicaInner {
    width: 220px;
    padding: 20px;
    background: #f4ecd9;
    border-radius: 52px; }
    .taleZone.previewBlock .topBlock .replicaInner:before, .taleZone.previewBlock .topBlock .replicaInner.taleZone:after {
      content: '';
      position: absolute;
      bottom: -45px;
      left: -3px;
      z-index: -1;
      height: 57px;
      width: 67px;
      background: url("/img/bubleTail.png"); }
    .taleZone.previewBlock .topBlock .replicaInner:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      border-radius: 52px;
      box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 0.15); }
  .taleZone.previewBlock .topBlock .heroImg:hover + .name {
    opacity: 1; }
  .taleZone.previewBlock .topBlock .name {
    bottom: -45px;
    width: 168px;
    height: 38px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 11px 0;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    background: #fff;
    opacity: 0; }
.taleZone.previewBlock .authorText.active {
  display: table; }
  .taleZone.previewBlock .authorText.active .authorInner {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle; }
.taleZone.previewBlock .soundBtn {
  position: absolute;
  bottom: 18px;
  left: 3px;
  height: 88px;
  width: 103px;
  background: url("/img/soundOn.png"); }
.taleZone.previewBlock .sharing {
  position: absolute;
  bottom: -2px;
  right: -7px;
  height: 56px;
  width: 192px;
  background: url("/img/shareInTale.png"); }
.taleZone.previewBlock .frameControl {
  position: absolute;
  bottom: -6px;
  left: 478px;
  height: 142px;
  width: 255px;
  background: url("/img/playerControl.png"); }
  .taleZone.previewBlock .frameControl .prevFrame, .taleZone.previewBlock .frameControl .nextFrame {
    position: absolute;
    top: 55px;
    left: 33px;
    z-index: 1;
    height: 33px;
    width: 43px;
    cursor: pointer;
    background: url("/img/prevArrow.jpg"); }
  .taleZone.previewBlock .frameControl .nextFrame {
    left: auto;
    right: 13px;
    background: url("/img/nextArrow.jpg"); }
  .taleZone.previewBlock .frameControl .playFrame {
    position: absolute;
    top: 28px;
    left: 86px;
    z-index: 1;
    height: 88px;
    width: 88px;
    cursor: pointer; }

/*# sourceMappingURL=base.css.map */
